<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196221481478-rb9gt964umrpa3avu9aqcugeq24ptplf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196221481478-rb9gt964umrpa3avu9aqcugeq24ptplf</string>
	<key>API_KEY</key>
	<string>AIzaSyAfDw6pkvpBzwIVsNEzFxYLWqgcOllHO8s</string>
	<key>GCM_SENDER_ID</key>
	<string>196221481478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.istvankreisz.TikQuiz</string>
	<key>PROJECT_ID</key>
	<string>tikquiz-4b02f</string>
	<key>STORAGE_BUCKET</key>
	<string>tikquiz-4b02f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196221481478:ios:06f2e4be0b8ad064248987</string>
</dict>
</plist>